<div class="container">
  <header>
    <div class="jumbotron">
      <h2>Legislate!</h2>
      {{#link-to 'index'}}HOME{{/link-to}}
    </div>

  </header>

  {{outlet}}

  <footer>
    <hr>
    <p>Sometimes a Great Footer</p>
  </footer>
</div>
